*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
.idea/artifacts/taotao_manage_web_war.xml
.idea/artifacts/taotao_manage_web_war_exploded.xml
.idea/artifacts/taotao_sso_war.xml
.idea/artifacts/taotao_sso_war_exploded.xml
.idea/compiler.xml
.idea/copyright/
.idea/inspectionProfiles/
.idea/libraries/Maven__com_github_abel533_mapper_2_3_4.xml
.idea/libraries/Maven__com_github_jsqlparser_jsqlparser_0_9_1.xml
.idea/libraries/Maven__com_github_pagehelper_pagehelper_3_7_5.xml
.idea/libraries/Maven__com_google_guava_guava_15_0.xml
.idea/libraries/Maven__com_jolbox_bonecp_0_8_0_RELEASE.xml
.idea/libraries/Maven__com_jolbox_bonecp_spring_0_8_0_RELEASE.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3_1.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_32.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_4.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_2_8.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_2_2.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_2.xml
.idea/libraries/Maven__org_springframework_spring_aspects_4_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_1_3_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/taotao-store.iml
.idea/workspace.xml
taotao-manage/taotao-manage-mapper/taotao-manage-mapper.iml
taotao-manage/taotao-manage-pojo/taotao-manage-pojo.iml
taotao-manage/taotao-manage-service/taotao-manage-service.iml
taotao-manage/taotao-manage-web/taotao-manage-web.iml
taotao-manage/taotao-manage.iml
taotao-sso/taotao-sso.iml
taotao-web/taotao-web.iml
/taotao-cart/taotao-cart.iml
/taotao-common/taotao-common.iml
