<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.manage.mapper.ContentMapper">

	<select id="queryContentList" resultType="Content">
		SELECT * FROM tb_content WHERE category_id = #{categoryId} ORDER BY updated DESC
	</select>
</mapper>
